@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Seja Bem Vindo</h1>
    <p>Projeto desenvolvido acompanhando o curso de Dominando ASP.NET Core do  <a href="https://desenvolvedor.io/">Desenvolvedor.io</a>.</p>
</div>
